.stepper {
  display: flex;
  gap: 0.3rem;
  width: 480px;
   &-item{
    flex: 1;
    background-color: rgb(192, 191, 191);
    height: 0.3rem;
    border-radius: 0.1rem;

    &.active{
      background-color: rgb(79, 79, 250);
      transition: background-color 1s;
    }
   }
}



.steppers1{
  display: flex;
  justify-content: center;
  padding-top: 150px;
}
.steppers{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
