.movies{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  border: 1px solid rgb(97, 97, 97);
  padding: 10px;
}

.conteudo{
  margin-top: 10px;
  border: 1px solid black;
  padding: 10px;
}

.father{

}

