
<div class="m-auto" style="max-width:400px;">
  <mat-stepper class="mt-4" #stepper>
    <mat-step >
        <app-step-one (next)="next($event)"></app-step-one>
    </mat-step>
    <mat-step >
        <app-step-two
        (next)="next($event)"
        (previous)="stepper.previous()"
         ></app-step-two>
    </mat-step>
    <mat-step >
        <app-step-three
        (previous)="stepper.previous()"
        (next)="sendData($event)"
         ></app-step-three>
    </mat-step>
</mat-stepper>
</div>
